$breakpoints: (
  // 640px
  sm: 40em,
  // 768px
  md: 48em,
  // 1024px
  lg: 64em,
  // 1280px
  xl: 80em,
  //1366px
  1xl: 85.375em,
  // 1440px
  2xl: 90em,
  // 1536px
  3xl: 96em,
  // 1600px
  4xl: 100em,
  // 1920px
  5xl: 120em
);
