$padding: (
  padding: (
    p-0: 0,
    p-1: 0.25rem,
    p-2: 0.5rem,
    p-3: 0.75rem,
    p-4: 1rem,
    p-5: 1.25rem,
    p-6: 1.5rem,
    p-7: 1.75rem,
    p-8: 2rem,
    p-9: 2.25rem,
    p-10: 2.5rem,
  ),
  paddingTop: (
    pt-0: 0,
    pt-1: 0.25rem,
    pt-2: 0.5rem,
    pt-3: 0.75rem,
    pt-4: 1rem,
    pt-5: 1.25rem,
    pt-6: 1.5rem,
    pt-7: 1.75rem,
    pt-8: 2rem,
    pt-9: 2.25rem,
    pt-10: 2.5rem,
  ),
  paddingBottom: (
    pb-0: 0,
    pb-1: 0.25rem,
    pb-2: 0.5rem,
    pb-3: 0.75rem,
    pb-4: 1rem,
    pb-5: 1.25rem,
    pb-6: 1.5rem,
    pb-7: 1.75rem,
    pb-8: 2rem,
    pb-9: 2.25rem,
    pb-10: 2.5rem,
  ),
  paddingLeft: (
    pl-0: 0,
    pl-1: 0.25rem,
    pl-2: 0.5rem,
    pl-3: 0.75rem,
    pl-4: 1rem,
    pl-5: 1.25rem,
    pl-6: 1.5rem,
    pl-7: 1.75rem,
    pl-8: 2rem,
    pl-9: 2.25rem,
    pl-10: 2.5rem,
  ),
  paddingRight: (
    pr-0: 0,
    pr-1: 0.25rem,
    pr-2: 0.5rem,
    pr-3: 0.75rem,
    pr-4: 1rem,
    pr-5: 1.25rem,
    pr-6: 1.5rem,
    pr-7: 1.75rem,
    pr-8: 2rem,
    pr-9: 2.25rem,
    pr-10: 2.5rem,
  ),
  paddingX: (
    px-0: 0,
    px-1: 0.25rem,
    px-2: 0.5rem,
    px-3: 0.75rem,
    px-4: 1rem,
    px-5: 1.25rem,
    px-6: 1.5rem,
    px-7: 1.75rem,
    px-8: 2rem,
    px-9: 2.25rem,
    px-10: 2.5rem,
  ),
  paddingY: (
    py-0: 0,
    py-1: 0.25rem,
    py-2: 0.5rem,
    py-3: 0.75rem,
    py-4: 1rem,
    py-5: 1.25rem,
    py-6: 1.5rem,
    py-7: 1.75rem,
    py-8: 2rem,
    py-9: 2.25rem,
    py-10: 2.5rem,
  ),
);

$margin: (
  margin: (
    m-auto: auto,
    m-0: 0,
    m-1: 0.25rem,
    m-2: 0.5rem,
    m-3: 0.75rem,
    m-4: 1rem,
    m-5: 1.25rem,
    m-6: 1.5rem,
    m-7: 1.75rem,
    m-8: 2rem,
    m-9: 2.25rem,
    m-10: 2.5rem,
  ),
  marginTop: (
    mt-auto: auto,
    mt-0: 0,
    mt-1: 0.25rem,
    mt-2: 0.5rem,
    mt-3: 0.75rem,
    mt-4: 1rem,
    mt-5: 1.25rem,
    mt-6: 1.5rem,
    mt-7: 1.75rem,
    mt-8: 2rem,
    mt-9: 2.25rem,
    mt-10: 2.5rem,
  ),
  marginBottom: (
    mb-auto: auto,
    mb-0: 0,
    mb-1: 0.25rem,
    mb-2: 0.5rem,
    mb-3: 0.75rem,
    mb-4: 1rem,
    mb-5: 1.25rem,
    mb-6: 1.5rem,
    mb-7: 1.75rem,
    mb-8: 2rem,
    mb-9: 2.25rem,
    mb-10: 2.5rem,
  ),
  marginLeft: (
    ml-auto: auto,
    ml-0: 0,
    ml-1: 0.25rem,
    ml-2: 0.5rem,
    ml-3: 0.75rem,
    ml-4: 1rem,
    ml-5: 1.25rem,
    ml-6: 1.5rem,
    ml-7: 1.75rem,
    ml-8: 2rem,
    ml-9: 2.25rem,
    ml-10: 2.5rem,
  ),
  marginRight: (
    mr-auto: auto,
    mr-0: 0,
    mr-1: 0.25rem,
    mr-2: 0.5rem,
    mr-3: 0.75rem,
    mr-4: 1rem,
    mr-5: 1.25rem,
    mr-6: 1.5rem,
    mr-7: 1.75rem,
    mr-8: 2rem,
    mr-9: 2.25rem,
    mr-10: 2.5rem,
  ),
  marginX: (
    mx-auto: auto,
    mx-0: 0,
    mx-1: 0.25rem,
    mx-2: 0.5rem,
    mx-3: 0.75rem,
    mx-4: 1rem,
    mx-5: 1.25rem,
    mx-6: 1.5rem,
    mx-7: 1.75rem,
    mx-8: 2rem,
    mx-9: 2.25rem,
    mx-10: 2.5rem,
  ),
  marginY: (
    my-auto: auto,
    my-0: 0,
    my-1: 0.25rem,
    my-2: 0.5rem,
    my-3: 0.75rem,
    my-4: 1rem,
    my-5: 1.25rem,
    my-6: 1.5rem,
    my-7: 1.75rem,
    my-8: 2rem,
    my-9: 2.25rem,
    my-10: 2.5rem,
  ),
);
