@use "../abstracts/index" as *;

/* --------------------- */
/* Container */
/* ---------------------*/
.container {
  padding: 0.5rem;
  @each $key, $value in $breakpoints {
    @if $key == sm {
      @include mq(sm) {
        padding: 1rem;
        max-width: 40rem;
      }
    } @else if $key == md {
      @include mq(md) {
        padding: 1.5rem;
        max-width: 48em;
      }
    } @else if $key == lg {
      @include mq(lg) {
        padding: 1.5rem;
        max-width: 64em;
      }
    } @else if $key == xl {
      @include mq(xl) {
        padding: 1.5rem;
        max-width: 80em;
      }
    } @else if $key == 1xl {
      @include mq(1xl) {
        padding: 1.5rem;
        //1320px
        max-width: 82.5em;
      }
    }
  }

  margin: 0 auto;
}
