@use "../abstracts/sizing" as *;

/* width --------------------width*/
@each $name, $value in $width {
  .#{$name} {
    width: #{$value};
  }
}

/* height ------------------height*/
@each $name, $value in $height {
  .#{$name} {
    height: #{$value};
  }
}
.min-h-screen {
  min-height: 100vh;
}

/* --------------------- */
/* Aspect Ratio */
/* ---------------------*/
.aspect-auto {
  aspect-ratio: auto;
}
.aspect-square {
  aspect-ratio: 1/1;
}
.aspect-video {
  aspect-ratio: 16/9;
}
